main #first{
    text-align: justify;

}

main .contact{
    display: block;

}



main .contact h3{
    color: dodgerblue;
    text-shadow: 2px 2px 2px black;
    padding-top: 10px;
    padding-bottom: 10px;

}

main .info{
    padding-top: 30px;
}

main .info .socialIcons{
    display: flex;
    gap: 10px;
    font-size: 2em;
    padding-bottom: 10px;
}

main .info .socialIcons a{
    color: dodgerblue;
    text-shadow: 2px 2px 2px black;
}

main .info .socialIcons a:hover{
    color: rgb(23, 86, 148);
    
}



main .contact #right{
    text-align: right;
}

form{
    padding: 20px;
    max-width: 900px;
    border-radius: 10px;
    margin: auto;
    background-color: aliceblue;
    border: 2px solid dodgerblue;
    padding: 20px;

}

form .formItem{
    border: 1px solid dodgerblue;
    width: 70%;
    border-radius: 10px;
    min-width: 200px;
    max-width: 400px;
    padding: 10px;
}

form #submit{
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

form #submit:hover{
    background-color: darkgreen;
}

form #submitComment{
    background-color: green;
    color: white;
    font-size: 1.2em;
    max-width: 200px;
    cursor: pointer;
    margin-top: 20px;
}

form #submitComment:hover{
    background-color: darkgreen;
}

.comments-section {
    margin-top: 20px;
}
.comment {
    border: 2px solid aliceblue;
    background-color: aliceblue;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.comment{
    color: rgb(4, 4, 51);
    font-size: 1.2em;
}

#delete{
    cursor: pointer;
    background-color: dodgerblue;
    color: rgb(241, 244, 247);
    border-radius: 5px;
    padding: 5px;
    text-shadow: 2px 2px 2px black;
    border: 1px solid dodgerblue;
}

