main #first{
    text-align: justify;

}

main .contact{
    display: block;

}



main .contact h3{
    color: dodgerblue;
    text-shadow: 2px 2px 2px black;
    padding-top: 10px;
    padding-bottom: 10px;

}

main .info{
    padding-top: 30px;
}

main .info .socialIcons{
    display: flex;
    gap: 10px;
    font-size: 2em;
    padding-bottom: 10px;
}

main .info .socialIcons a{
    color: dodgerblue;
    text-shadow: 2px 2px 2px black;
}

main .info .socialIcons a:hover{
    color: rgb(23, 86, 148);
    
}



main .contact #right{
    text-align: right;
}

main button {
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(to right, darkorange,  rgb(177, 89, 30));
    text-shadow: 2px 2px 2px black;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

main button:hover {
    background: linear-gradient(to right, rgb(70, 41, 7), rgb(177, 89, 30));
}

/* Estilos da janela modal (tela de login e cadastro) */
.modal {
    display: none; /* Inicialmente oculta */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
}

.modal-content {
    background-color: rgb(2, 14, 26);
    margin: 9% auto;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: darkorange;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

.modal input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 80px;
}

#commentSection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid aliceblue;
}

#commentSection h3{
    color: dodgerblue;
    text-shadow: 2px 2px 2px black;
    padding: 30px;
    font-size: 1.3em;
}

#commentInput{
    margin-top: 20px;
    height: 100px;
    width: 300px;
}


#commentsContainer {
    margin-bottom: 15px;
    background-color: rgb(2, 14, 26);
}

.comment {
    background-color: rgb(2, 14, 26);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    position: relative;
}

#postCommentButton {
    background: linear-gradient(to right, darkorange,  rgb(177, 89, 30));
    text-shadow: 2px 2px 2px black;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-bottom: 69px;
}

#postCommentButton:hover {
    background: linear-gradient(to right, rgb(70, 41, 7), rgb(177, 89, 30));
}

form{
    padding: 20px;
    max-width: 900px;
    border-radius: 5px;
    margin: auto;
    background-color: rgb(2, 14, 26);
    border: 2px solid aliceblue;
   

}

form .formItem{

    width: 90%;
    border-radius: 5px;
    min-width: 200px;
    margin-top: -20px;
    padding: 10px;
}

form #submit{
    border-radius: 10px;
    background: linear-gradient(to right, darkorange,  rgb(177, 89, 30));
    text-shadow: 2px 2px 2px black;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

form #submit:hover{
    background: linear-gradient(to right, rgb(70, 41, 7), rgb(177, 89, 30));
}

form #submitComment{
    background: linear-gradient(to right, darkorange,  rgb(177, 89, 30));
    text-shadow: 2px 2px 2px black;
    color: white;
    font-size: 1.2em;
    max-width: 200px;
    cursor: pointer;
   
}

form #submitComment:hover{
    background: linear-gradient(to right, rgb(70, 41, 7), rgb(177, 89, 30));
}

.modal h2{
    font-size: 2.4em;
}

.modal p {
    padding-top: 5px;
}

.login{
    background: linear-gradient(to right, darkorange,  rgb(177, 89, 30));
    text-shadow: 2px 2px 2px black;
    color: aliceblue;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;

}

.login:hover{
    background: linear-gradient(to right, rgb(70, 41, 7), rgb(177, 89, 30));

}

.submitLogin{
    margin-top: 20px;
}

#form{
    align-items: center;
    width: 90%;
    max-width: 600px;
    gap: 5px;
    padding-top: 50px;
    margin-top: 30px;
}

#loginButton{
    margin: 20px;
}

.deleteCommentButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute; /* Posiciona o botão no canto direito */
    top: 10px;
    right: 10px;
}

.deleteCommentButton:hover {
    background-color: #e53935;
}

/* Título de comentários */
h3 {
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.deleteCommentButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute; /* Posiciona o botão no canto direito */
    top: 10px;
    right: 10px;
}

.deleteCommentButton:hover {
    background-color: #e53935;
}


@media screen and (min-width: 769px){
    .modal-content {
        background-color: rgb(2, 14, 26);
        margin: 4% auto;
        padding: 20px;
        border-radius: 5px;
        width: 90%;
        max-width: 400px;
    }
}