.galeria {
    text-align: center;
}

.imagem-destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-container {
    position: relative; /* Contêiner para posicionar os botões */
    display: flex;
    align-items: center;
}

.botao-imagem {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white; /* Cor dos botões */
    text-shadow: 2px 2px 2px black;
    top: 50%;
    transform: translateY(-50%);
}

#anterior {
    left: 10px; /* Distância do lado esquerdo */
}

#proximo {
    right: 10px; /* Distância do lado direito */
}

.imagem-destaque img {
    width: 100%;
    max-width: 600px;
    height: 300px;
}

.miniaturas {
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.imagens {
    display: flex;
    overflow-x: auto;
}

.imagens::-webkit-scrollbar {
    display: none; /* Para navegadores WebKit como Chrome e Safari */
}

.imagens {
    -ms-overflow-style: none; /* Para Internet Explorer e Edge */
    scrollbar-width: none; /* Para Firefox */
}

.imagens img {
    width: 100px;
    height: 70px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

.imagens img:hover {
    border-color: #007bff;
}

.imagens img.selecionada {
    border-color: #007bff; /* Cor da borda da miniatura selecionada */
    border-width: 2px;
    border-style: solid;
}
