body`{
  position: relative;
}
.welcome h3{
    position: absolute; /* Posiciona a div absolutamente */
    top: 10%; /* Ajusta para que fique acima do header (ajuste conforme necessário) */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    z-index: 2;
    width: 100%;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
}



.swiper {
  width: 100%;
  height: 500px;
  
}

#searchContainerMain{ 
    top: 25%; /* Ajusta para que fique acima do header (ajuste conforme necessário) */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 700px;
}

#searchContainerMain > #searchBar{
   text-align: center;
   padding-left: 40px;
}

#searchContainerMain h2{
    color: #fff;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 30px;
    padding: 20px;
    text-align: center;
}

#search{
    height: 50px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.459);
    padding-left: 10px;
    background-color: aliceblue;
    font-size: 1.3em;
    box-shadow: 2px 2px 2px black;
    
 }

 #searchButton{
    height: 35px;
    width: 35px;
    font-size: 20px;
    color: dodgerblue;
    text-shadow: 2px 2px 2px black;
    border-radius: 20px;
    translate: -45px -1px;
    border: none;
    background-color: aliceblue;
}

  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-slide h3 {
   margin-top: 430px;
   font-size: 14px;
   text-align: center;
  }
  
  .swiper-slide a{
    color: rgb(15, 218, 8);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    margin: 5px;
    text-shadow: 2px 2px 2px black;
  }
  
  .swiper-slide a:hover{
    color: rgb(26, 105, 6);
    text-decoration: underline;
  
  }
  
  
  .swiper-button-next, .swiper-button-prev{
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
    font-weight: 700;
    position: absolute;
    z-index: 3;
    margin-top: 100px;
  }
  
  .swiper-pagination{
    margin-bottom: 150px;
    position: absolute;
    z-index: 1;
  }
  
  #swiper1{
    background-image: url('../imagens/imagemnordeste.png');
  }
  
  #swiper2{
    background-image: url('../imagens/dicasdesegurança.jpg');
  }
  
  #swiper3{
    background-image: url('../imagens/destinos/ouropreto1.jpg');
  }
  
  #swiper4{
    background-image: url('../imagens/imageminicio.jpg');
  }
  
#swiper5{
    background-image: url('../imagens/destinos/bonito1.JPG');
}
  

@media screen and (min-width: 769px){
  #searchContainerMain h2{

    font-size: 1.5em;
    
}
  
.swiper-slide h3 {
    margin-top: 300px;
    font-size: 16px;
    }

    .swiper-button-next, .swiper-button-prev{
     
      margin-top: 0px;
    }
  
    .swiper-pagination{
      margin-bottom: 150px;
  
    }

}