#dinamicHeader{
    width: 100%;
    border: 1px solid black;
}
.welcome h3{
    position: absolute; /* Posiciona a div absolutamente */
    top: 10%; /* Ajusta para que fique acima do header (ajuste conforme necessário) */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    z-index: 2;
    width: 100%;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
}

.header{
    height: 500px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
    color: #fff;
    text-shadow: 2px 2px 2px black;
    flex-direction: column-reverse;
    justify-content: space-between;
    display: none;
    visibility: hidden; /* Inicialmente escondido 
    opacity: 0; /* Inicialmente invisível */
    gap: 30px;
    padding: 10px;
    transition: opacity 0.5s ease; /* Transição suave de 0.5 segundos */
    position: relative; /* Ou absolute/fixed, dependendo do seu layout */
    z-index: 1; /* Menor z-index */
}
#searchContainerMain{
    position: absolute; /* Posiciona a div absolutamente */
    top: 25%; /* Ajusta para que fique acima do header (ajuste conforme necessário) */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    z-index: 2;
    width: 100%;
}

#searchContainerMain > #searchBar{
   text-align: center;
   padding-left: 40px;
}

#searchContainerMain h2{
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 30px;
    padding: 20px;
    text-align: center;
}

#search{
    height: 50px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.459);
    padding-left: 10px;
    background-color: aliceblue;
    font-size: 1.3em;
    box-shadow: 2px 2px 2px black;
    
 }

 #searchButton{
    height: 35px;
    width: 35px;
    font-size: 20px;
    color: dodgerblue;
    text-shadow: 2px 2px 2px black;
    border-radius: 20px;
    translate: -45px -1px;
    border: none;
    background-color: aliceblue;
}


.header.active {
    visibility: visible; 
    opacity: 1; /* Define a opacidade para 1 */
    display: flex;
}

.header h3{
    display: inline;
    font-size: 1em;
  
    width: 100%;
    text-align: center;
}


.header a{
    color: dodgerblue;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid rgb(47, 50, 53);
    background-color: aliceblue;
    padding: 10px;
    font-size: 1.2em;
    display: inline-block;
    margin: 5px;

}
.header  a:hover{
    background-color: dodgerblue;
    color: aliceblue;

}

.header#header1{
    background-image: url('../imagens/imagemnordeste.png');
    
}

.header#header2{
    background-image: url('../imagens/dicasdesegurança.jpg');
}
    
.header#header3{
    background-image:url('../imagens/destinos/ouropreto1.jpg');
   
}

.header#header4{
    background-color: darkseagreen;
    background-image: url('../imagens/imageminicio.jpg');
}
.button {
    position: absolute; /* Posiciona os botões em relação ao seu contêiner pai */
    top: 40%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajusta para centralizar corretamente */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com leve transparência */
    border: none; /* Remove a borda padrão */
    padding: 10px 15px; /* Espaçamento interno */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidade */
    z-index: 3; /* Garante que os botões fiquem acima dos outros elementos */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
}

.button:hover {
    background-color: rgba(255, 255, 255, 1); 
    transform: scale(1.05);
}


#prevButton {
    left: 10px; 
}


#nextButton {
    right: 10px; 
}

@media screen and (min-width: 769px){
    .header h3{
        padding-bottom: 70px;
    }

    .header a{
        margin-left: 30px;
        font-size: 1.3em;
        padding: 10px;
    }
}


