#dinamicHeader{
    width: 100%;
    border: 1px solid black;
}

.header{
    height: 500px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
    display: none; /* Mantém os headers ocultos inicialmente */
    opacity: 0; /* Começa com opacidade 0 */
    transition: opacity 3.0s ease; /* Transição suave de 0.5 segundos */
    position: relative; /* Ou absolute/fixed, dependendo do seu layout */
    z-index: 1; /* Menor z-index */
}

.header.active {
    display: flex; /* Mostra o header ativo */
    opacity: 1; /* Define a opacidade para 1 */
}

 #searchContainer{
    background-color: aliceblue;
    text-align: center;
    padding: 30px;
    height: 90px;
    width: 100%;
    box-shadow: 2px 2px 5px white;
    margin-top: 50px;
}

#searchContainer h2{
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 30px;
}


#searchContainer #search{
   height: 40px;
   width: 80%;
   max-width: 400px;
   border-radius: 20px;
   border: 1px solid dodgerblue;
   padding-left: 10px;
   background-color: aliceblue;
   font-size: 1.3em;
}

#searchContainer #searchButton{
    height: 35px;
    width: 35px;
    font-size: 20px;
    color: dodgerblue;
    text-shadow: 2px 2px 2px black;
    border-radius: 20px;
    translate: -45px 2px;
    border: none;
    background-color: aliceblue;
}

.header#header1{
    background-color: blue;
}

.header#header2{
    background-color: chocolate;
}
    
.header#header3{
    background-color: darkgreen;
}

.header#header4{
    background-color: darkseagreen;
}

