@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Poppins", sans-serif;
    background-color: aliceblue;
}
  
.container{
    display: flex;
}

#sidebar{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    font-size: 1.5em;
    color: #fff;
    display: none;
    z-index: 4;
    position: fixed;
    transition: left 0.5s ease, opacity 0.5s ease;
    left: -100%;

}

#sidebar.show {
    opacity: 1;
    left: 0;
}

#sidebar > i{
    float: right;

    font-size: 40px;
}

#sidebar > i:hover{
    color: #0254ac;
}

#sidebar .sidebarItems{
    background-color: aliceblue;
    width: 90%;
    max-width: 300px;
    height: 100vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.548);
    padding: 20px;
    list-style-type: none;
    
}

#sidebar .sidebarItem{
    border-bottom: 2px solid #007bff;;
}

#sidebar .sidebarItem  a{

    color: #007bff;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
    padding-top: 5px;

}

#sidebar .sidebarItem  a:hover{
    color: darkorange;

}

#sidebar .sidebarSubItems{
    padding-top: 10px;
    display: none;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-top: 2px solid #007bff;
    font-size: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
}

#sidebar .socialIcon{
    float: inline-end;
    padding-top: 50px;
    color: #007bff;
    display: flex;
    gap: 20px;
    font-size: 40px;
    text-shadow: 1px 1px 1px black;
}

#sidebar .socialIcon a{

    color: #007bff;
}

#sidebar .socialIcon a:hover{

    color: darkgoldenrod;
}



#content{
    display: block;
    width: 100%;
}

#content nav{
    background-color: aliceblue;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 1px  1px 2px rgba(0, 0, 0, 0.411);
    position: fixed;
    position: relative; /* Para que o z-index funcione */
    z-index: 3; 
    position: fixed;
}


#content nav .menuButton{
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

#content nav .menuButton i:hover{
    color: #0254ac;
}

#content nav .menuButton i{
    font-size: 35px;
    padding-top: 12px;
    color: dodgerblue;
    
}

#content nav > ul{
   display: none;
}



#content nav .logo img{
    width: 120px;
    height: 60px;
    padding-top: 2px;
}

header{
    height: 500px;
    background-color: #fff;
    background-image: url('../imagens/imageminicio.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
}



header h2{
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 30px;
    padding: 20px;
    text-align: center;
}

#searchBar{
    padding-left: 65px;
}

header #search{
   height: 50px;
   width: 80%;
   max-width: 500px;
   border-radius: 10px;
   border: 1px solid rgba(0, 0, 0, 0.459);
   padding-left: 10px;
   background-color: aliceblue;
   font-size: 1.3em;
   box-shadow: 2px 2px 2px black;
   
}

header  #searchButton{
    height: 35px;
    width: 35px;
    font-size: 20px;
    color: dodgerblue;
    text-shadow: 2px 2px 2px black;
    border-radius: 20px;
    translate: -45px -1px;
    border: none;
    background-color: aliceblue;
}

#firstTitle{
        margin-top: 20px;
}

.invisible {
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(30px); /* Deslocado para baixo */
    transition: opacity 1s ease, transform 1s ease; /* Suaviza a transição */
}

.visible{
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Move para a posição original */
}

main{
   background-color: #fff;
    width: 100%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.438);
    padding-bottom: 20px;
    margin-top: -20px;
    position: relative; /* Para que o z-index funcione */
    z-index: 2; 
}


main h2{
    font-size: 2em;
    font-weight: 800;
    color: #007bff;
    text-shadow: 1px 1px 1px black;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

}

main h2::before{
    content: '';
    display: block;
    width: 10%; 
    max-width: 80px;
    height: 8px;
    background-color: darkorange; 
    text-shadow: 1px 1px 1px black;
    margin: auto; 
    margin-bottom: 20px;
    position: absolute;
    top: 0; 
    left: 0; 
    left: 50%; 
    transform: translateX(-50%);
}

main section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 21px;
    padding: 20px;
}

#firstSection{
    border: 1px solid black;
    background-color: rgb(2, 14, 26);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.destaque {
    max-width: 600px;
    text-align: center;
    padding-bottom: 50px;
    position: relative; /* Necessário para posicionamento absoluto dos filhos */
    border-bottom: 1px solid aliceblue;
    margin-bottom: 20px;
    margin-top: 20px;
}

.destaque img {
    width: 100%;
    height: 300px;
    margin: auto;
    border-radius: 10px;
}

.destaque h4 {
    opacity: 0; /* Inicialmente invisível */
    visibility: hidden; /* Para evitar cliques quando invisível */
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; /* Suaviza a transição */
    position: absolute; 
    top: 80%; 
    left: 50%;
    transform: translate(-50%, 20px); 
    color: white; 
    padding: 10px; 
    border-radius: 10px; 
}

.destaque:hover h4 {
    opacity: 1; /* Torna o h4 visível */
    visibility: visible; /* Permite interações */
    transform: translate(-50%, -50%); /* Move para a posição original */
}
.destaque h4 a{
    background: linear-gradient(to right, darkorange,  rgb(177, 89, 30));
    height: 60px;
    width: 25%;
    min-width: 150px;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5em;
    text-decoration: none;
    display: block;
    margin: auto;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(8, 20, 8, 0.589);
}

.destaques h4 a:hover{
    background-color: chocolate;
}

.legenda-destaque{
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 1.1em;
    padding-bottom: 20px;
}

.legenda-destaque h3{
    padding-bottom: 10px;
}

.legenda-destaque p{
    text-align: center;
    font-size: 1em;
}

.legenda-destaque h5{
   visibility: hidden;
   display: none;
}

.legenda-destaque a{
    text-decoration: none;
    color: #007bff;
    text-shadow: 1px 1px 1px black;
}

#buttonBarLegend{
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
}

.buttonBar{
    padding-bottom: 20px;
    padding-left: 20px;

}

#category{
    padding: 0;
    justify-content: start;
    gap: 10px;
}

#category .buttonItem{
    width: 70px;
    height: 70px;
    font-size: 2em;
    background-color: dodgerblue;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
}

#category .buttonItem:hover{
    background-color: rgb(22, 101, 180) ;
}

#category .category{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin: 0;


}

#category .category.beach{
    background-color: rgb(201, 201, 12);
    padding: 30px;
}

#category .category.family{
    background-color: dodgerblue;
    padding: 30px;
}

#category .category.family h2{
    color: #fff;

}

#category .category.historicalCity{
    background-color: rgb(2, 14, 26);;
    padding: 30px;
}

#category .category.mountain{
    display: flex;
    background-color: darkgreen;
    padding: 30px;
}

.category-container {
    display: flex;
    align-items: center;
    width: 100%;
}


#category .category h2{
   width: 100%;
    
}


#category .categoryItem img{
    width: 100%;
    height: 47%;
}



#category .categoryItem {
    height: 420px;
    width: 300px;
    box-shadow: 2px 2px 10px black;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
    transition: transform 0.5s ease;

}

.category .categoryItem:hover{
    transform: scale(1.02);
    box-shadow: 2px 2px 5px darkorange;
}

.category .categoryItem  p{
    color: black;
}

.category .categoryItem a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    min-height: 300px; /* Altura mínima para acomodar o conteúdo */

    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    color: dodgerblue;
    text-shadow: 1px 1px 1px black;
}

#category .categoryItem .itemDescription {
    padding: 5px;

    width: 100%;
    font-size: 1em;
    flex-grow: 1; /* Permite que cresça */
    display: flex;
    flex-direction: column; /* Para empilhar elementos */
    justify-content: flex-start; /* Alinha no início */
}

#category .categoryItem .itemDescription h3:hover {
    color: darkorange;
}

#category .categoryItem .itemDescription h3{
    overflow-wrap: break-word; /* Permite quebra de palavras longas */
    white-space: normal; /* Permite quebras de linha */
    text-align: center;
}

#category .categoryItem .itemDescription p {

    white-space: normal; /* Permite quebras de linha */
    text-align: center;
}


#allDestinations{
    padding:0;
    height: 70px;
    margin-bottom: 80px;
    margin-top: 80px;
}

#allDestinations h3{
    margin: auto;
    background: linear-gradient(to right, darkorange, rgb(177, 89, 30));
    height: 100%;
    min-width: 300px;
    max-width: 400px;
    width: 40%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(8, 20, 8, 0.589);
}

#allDestinations h3 a{
    height: 100%;
    width: 100%;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5em;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 15px;
    border-radius: 20px;
}

#allDestinations h3 a:hover{
    background: linear-gradient(to right, rgb(70, 41, 7), rgb(177, 89, 30));
}

.main-image {
    margin-bottom: 20px;
}

.main-image img {
    width: 100%; /* Ajuste o tamanho da imagem principal */
    max-width: 800px;
    box-shadow: 2px 2px 5px black;
    min-height: 350px;
    max-height: 500px;
    border-radius: 4px;
    display: block;
    margin: auto;

}
 
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.gallery img{
    width: 100%;
    max-width: 500px;
    height: 350px;
}

.mainGallery{
    background-color: dodgerblue;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-bottom: 100px;
}

.mainGallery p{
    color: aliceblue;
    padding: 20px;
    text-align: justify;
    text-shadow: 2px 2px 2px black;
    font-size: 1.2em;
}

.mainGallery h2{
    color: aliceblue;
    padding-top: 20px;
    margin-top: 100px;
    margin: auto;
    font-size: 2.5em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.mainGallery h3{
    margin: auto;
    background: linear-gradient(to right, darkorange, rgb(177, 89, 30));
    height: 60px;
    min-width: 250px;
    max-width: 300px;
    width: 40%;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(8, 20, 8, 0.589);
}


.mainGallery a{
    height: 100%;
    width: 100%;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5em;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
}

.mainGallery a:hover{
    background: linear-gradient(to right, rgb(70, 41, 7), rgb(177, 89, 30));
}

.tips{
    position: relative;
    background-image: url('../imagens/dicasdesegurança.jpg');
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 30px;
    padding: 30px;
    font-family: "Bebas Neue", sans-serif;
    border:  1px  0px solid #007bff;
}

.tips::before {
    content: ""; 
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 1; 
}

.tips > * {
    position: relative; 
    z-index: 2; 
}

.tips h3{
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}

.tips div{
    margin: auto;
    height: 70px;
    min-width: 200px;
    max-width: 250px;
    width: 40%;
    border-radius: 20px;
    
}


.tips div a{
    background: linear-gradient(to right, darkorange,  rgb(177, 89, 30));
    height: 100%;
    width: 100%;
    color: #fff;
    text-shadow: 2px 2px 2px black;
    font-size: 2.5em;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgba(8, 20, 8, 0.589);

}

.tips div a:hover{
    background: linear-gradient(to right, rgb(70, 41, 7), rgb(177, 89, 30));
}


footer{
    background-color: rgb(61, 70, 61);
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 20px;
    

}
footer > section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
footer > section .imgfooter{
    width: 50%;
    max-width: 200px;
}

footer > section .imgfooter img{
    height: 100px;
    width: 100%;
}


footer > section .midias{
    height: 100px;
    width: 50%;
    font-size: 1.3em;
    max-width: 200px;
    text-align: center;
}

footer > section .midias h3{
    padding-bottom: 20px;
}

footer > section .midias .socialIcons{
    justify-content: center;
    display: flex;
    gap: 20px;
}

footer > section .midias .socialIcons a{
    color: #fff;
}

footer p{
    text-align: center;
}


@media screen and (min-width: 769px){

    #sidebar{
        display: none;
    }
    
    #content{
        display: block;
    }

    #content nav{
       height: 50px;

    }

    #content nav .menuButton{
        display: none;
    }

    #content nav ul{
        display: block;
        flex-grow: 1;
        list-style-type: none;

     }

     nav li{
        width: 20%;
        float: left;
        /* inclusão após o sub-menu de produtos*/
        position: relative;

    }

    nav li ul li{
        display: none; /*Esconder o sub-menu */
        background-color:aliceblue ;;
        width: 100%; /* alterado a largura do sub menu*/
    }

    nav li ul:hover {
        border: 1px solid black;
        }

    nav li:hover ul li{
        display: block; /*Exibir o sub-menu*/
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
        }

    nav a{
        color: dodgerblue;
        text-decoration: none;
        line-height: 50px;
        font-family: "Bebas Neue", sans-serif;
        font-size: 20px;
        text-align: center;
        float: left;
        width: 100%;
        border-right: 1px solid #fff;
    }

        /* Mudar a cor ao passar o mouse sobre */
        nav li > a:hover{
        background-color: dodgerblue;
        color: white;
    } 

    #content nav .logo img{
        width: 120px;
        height: 50px;
    }


    #searchBar{
        padding-left: 100px;
    }

    #firstTitle{
        margin-top: 20px;
     
     }
    

    main{
        background-color: white;
        max-width: 1200px;
        margin: auto;
        margin-top: -60px;
        font-size: 1em;
        overflow: hidden;
    }

    main h2{
        font-size: 2.5em;
        font-weight: 800;
        padding: 20px;
        padding-top: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #firstSection{
        background-color: rgb(2, 14, 26);
    }
    
    .destaque {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        text-align: center;
        padding-bottom: 0px;
        position: relative; /* Necessário para posicionamento absoluto dos filhos */
        border: 2px solid aliceblue;
    }
    
    .destaque img {
        max-width: 400px;
        min-height: 300px;
        height: auto;
        margin: auto;
        border-radius: 10px;
    }
    
    .destaque h4 {
        opacity: 0; /* Inicialmente invisível */
        visibility: hidden; /* Para evitar cliques quando invisível */
        transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; /* Suaviza a transição */
        position: absolute; 
        top: 80%; 
        left: 50%;
        transform: translate(-50%, 20px); 
        color: white; 
        padding: 10px; 
        border-radius: 10px; 
    }
    
    .destaque:hover h4 {
        opacity: 0; /* Torna o h4 visível */
        visibility: hidden; /* Permite interações */
        display: none;
        transform: translate(-50%, -50%); /* Move para a posição original */
    }
    .destaque h4 a{
        background: linear-gradient(to right, darkorange,  rgb(177, 89, 30));
        height: 60px;
        width: 25%;
        min-width: 150px;
        color: #fff;
        text-shadow: 2px 2px 2px black;
        font-size: 1.5em;
        text-decoration: none;
        display: block;
        margin: auto;
        padding-top: 10px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px rgba(8, 20, 8, 0.589);
    }
    
    .destaques h4 a:hover{
        background-color: chocolate;
    }

    #destaque2{
        flex-direction: row-reverse;
    }
    
    .legenda-destaque{
        color: white;
        text-shadow: 1px 1px 1px black;
        font-size: 1.4em;
       padding: 20px;
        width: 60%;
       height: 100%;

    }
    
    .legenda-destaque h3{
        padding-bottom: 10px;
    }
    
    .legenda-destaque p{
        text-align: justify;
        font-size: 1.2em;
    }
    
    .legenda-destaque h5{
        visibility: visible;
        display: block;
        margin: auto;
        height: 60px;
        background: linear-gradient(to right, darkorange, rgb(177, 89, 30));
        min-width: 300px;
        max-width: 400px;
        width: 40%;
        border-radius: 20px;
        box-shadow: 1px 1px 1px rgba(8, 20, 8, 0.589);
        margin-top: 20px;
        }
        .legenda-destaque h5 a:hover{
           
            background: linear-gradient(to right, rgb(70, 41, 7), rgb(177, 89, 30));
           
            }

        .legenda-destaque h5 a{
            visibility: visible;
            display: block;
            margin: auto;
            color: #fff;
            padding-top: 10px;
            font-size: 1.5em;
            background: linear-gradient(to right, darkorange, rgb(177, 89, 30));
            height: 100%;
            width: 100%;
            border-radius: 20px;
            box-shadow: 1px 1px 1px rgba(8, 20, 8, 0.589);

            }
    
    .legenda-destaque a{
        text-decoration: none;
        color: #007bff;
        text-shadow: 1px 1px 1px black;
    
    }
    

    #category .categoryItem {
        height: 420px;
        width: 30%;
        min-width: 300px;
    }

        
    #category .categoryItem img{
        width: 100%;
        height: 47%;
    }

    #category .categoryItem .itemDescription {
        font-size: 1em;
        height: 53%;
     
    }

    #category .categoryItem a{
        width: 100%;
        height: 100%;
    }

    #category .category h2{
        width: 100%;
        margin-top: 0px;
     }

    .mainGallery p{
        color: aliceblue;
        padding: 35px;
        font-size: 25px;
       
    }

    .gallery img{
        max-width: 600px;
        width: 50%;
        height: 400px;
        
    }

    .tips div{
        text-align: right;
        margin-top: 100px;
    }


    .tips h3{
        font-size: 50px;
        padding-top: 90px;
    }
    
   
   
}


