html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide h3 {
 margin-top: 400px;
}

.swiper-slide a{
  color: rgb(15, 218, 8);
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
  margin: 5px;
  text-shadow: 2px 2px 2px black;
}

.swiper-slide a:hover{
  color: rgb(26, 105, 6);
  text-decoration: underline;

}

.swiper-button-next{
  color: aliceblue;
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
}

.swiper-button-prev{
  color: aliceblue;
  text-shadow: 1px 1px 1px black;
  font-weight: 700;
}

.swiper-pagination{

}

#swiper1{
  background-image: url('imagens/imagemnordeste.png');
}

#swiper2{
  background-image: url('imagens/dicasdesegurança.jpg');
}

#swiper3{
  background-image: url('imagens/destinos/ouropreto1.jpg');
}

#swiper4{
  background-image: url('imagens/imageminicio.jpg');
}

#swiper5{
  background-image: url('imagens/destinos/bonito1.JPG');
}

